# Python
venv*/
*.egg-info/
__pycache__/
*.pyc
dist/

# generated content
static/analysis.js*
static/index.html
openpifpafwebdemo/analysis.js*

# JavaScript
node_modules/
js/build/

# data
*.pkl

# editor
.vscode
